:root {
  /* Default Colors */
  --color-back: #00de83;
  --color-figure: #22e997;
  --color-shadow-dark: 0 189 11;
  --color-shadow-white: 0 255 152;
}

.app {
  min-width: 300px;
  max-width: 1400px;
}

.hero {
  width: 100%;
  background-color: var(--back-color);
  padding: 30px 10px;
}
